/* Margenes de anchura y altura del div Login*/
.login-container {
    width: 400px ;
    margin: 16px auto;
    font-size: 16px;
}

/* Que todo este sin margen de separación entre el titulo
y el formulario */
.titulo,.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Forma del triangulo hacia arriba*/
.login-triangulo {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #0b6bca;
}

/* fondo del contenedor y el margen de separacion de los input*/
.contenedor {
    background: #ebebeb;
    padding: 12px;
}
/* Separación entre elementos */
.login-container p {
    padding: 12px;
}

/*Se le da un diseño estetico a todos los inputs*/
.login-container input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-size: 1em;
}

/* Se edita el color, tipo de letra y fondo de inputs especificos*/
.login-container input[type="text"], .login-container input[type="password"] {
    background: #ffffff;
    border-color: #747474;
    color: #000000; /*color de letra */
    font-family: 'Agency FB', 'sans-serif'
}

/* Esto le da color al input ingresar y hace que al 
momento de seleccionar el puntero cambie de forma*/
.login-container input[type="submit"] {
    background: #0b6bca;
    border-color: transparent;
    color: #ffffff; /* color de letra*/
    cursor: pointer;
}

/* Esto le da otro color al boton ingresar en el momento de presionar*/
.login-container input[type="submit"]:hover {
    background: #3f93ca;
}