/* para el tituto iniciar*/
.titulo {
    background: #0b6bca;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
